@import url(//fonts.googleapis.com/css?family=Cuprum:400,700|Junge);
@import 'animate.less';

/*body*/
body{
  font-family: 'Junge', serif;
  font-size: 18px;
  background-image: url(../img/body-back.png);
  letter-spacing: 1px;
  text-shadow: rgb(255, 255, 255) 1px 1px 0px;

  div.container {
    width: 1200px;
  }

  header,section,footer {
    padding-left: 120px;
    padding-right: 120px;
  }

  /*header*/
  header {
    background-image: url(../img/head-back.png);
    background-repeat: repeat;
    min-height: 219px;
    overflow:auto; /*http://stackoverflow.com/questions/2680478/margin-top-push-outer-div-down*/
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .75);
    -webkit-box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, .75);
  
    h1 {
      font-family: Cuprum, 'Cuprum Bold', sans-serif;
      font-weight: 700;
      font-size: 98px;
      color:#fff;
      padding: 45px 0 0 0;
      margin:0;
      line-height: 80px;
      text-shadow: 4px 4px 4px #1b284d;
      filter: dropshadow(color=#1b284d, offx=4, offy=4);  
    }

    p.banner {
      font-size: 20px;
      letter-spacing:1.5px;
      margin: 8px 0 0 210px;
      padding: 5px 0 0 8px;
      color :#d5c15c;
      width: 242px;
      height:35px;
      background-image: url(../img/banner-top.png);
      background-repeat: no-repeat;
      text-shadow: -1px -1px 1px #675308;
      filter: dropshadow(color=#675308, offx=-1, offy=-1);
    }
  
    ul.social {
      padding:46px 0 0 2px;
      li {
        display: inline;
        list-style-type: none;
        padding: 0 4px 0 0;
        float: left;
        
        a {
          display: block;
          width: 39px;
          height: 39px;
          background-image: url(../img/social.png);
        }
        a.linkedin {background-position: 0px 0px;}
        a.so {background-position: -42px 0px;}
        a.twitter {background-position: -84px 0px;}
        a.github {background-position: -124px 0px;}
      }
    }
  }

  /*mid section - common*/
  section {
    margin: 50px 0 50px 0;
  }

  h2 {
    font-family: Cuprum, 'Cuprum Bold', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px #fff;
    filter: dropshadow(color=#fff, offx=2, offy=2);
    padding: 0 0 20px 0;
  }

  h2:before, h2:after {
    content:"~";
  }

  /*skill section*/
  div.relative-container {
    position: relative;
    /*div*/.skill {
      background-color: #fff;
      background-image: url('../img/expand.png');
      background-repeat: no-repeat;
      background-position: bottom 10px right 10px;
      display: block;
      width :236px; 
      height: 206px; 
      -webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 1);
      box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 1);
      padding: 22px;
      overflow: hidden;
      position: relative;

      h3 {
        font-family: 'Cuprum', sans-serif;
        font-size: 30px;
        text-shadow: 1px 1px 1px #5b5741;
        filter: dropshadow(color=#5b5741, offx=1, offy=1);
        margin:0px;
        padding:0px;
        line-height: 30px;
        letter-spacing: 1px;
      }

      p {
        margin-top: 4px;
      }

      .fadeout {
        position: absolute; 
        bottom: 0em;
        width:100%;
        height: 3em;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        ); 
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
      }
    }
    /*div*/.skill-expanded {
      .skill;
      
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      // display :none;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 280px;
      margin: -6px;
      // height: auto;
      height: 0;
      padding: 6px;
      border-radius: 6px;
      z-index: 3;
      background-image: url(../img/stripy-pattern-alpha.png);
      .skill {
        box-shadow: none;
        height: auto;
      }
    }
  }

  div.relative-container:hover {
    .skill {
      box-shadow: none;
    }
    .skill-expanded {
      // display: block;
      opacity: 1;
      height: auto;
    };
  }

  /*project section*/
  section.projects {
    background-image: url(../img/dark-back.jpg);
    background-repeat: repeat;

    i {
      display:block;
      width:100%;
      height: 12px;
      background-repeat: repeat-x;
      margin-left: -120px;
      padding-right: 240px;

      &.zipper-top {
        background-image: url(../img/zigzag-top.png);
      }

      &.zipper-bottom {
        background-image: url(../img/zigzag-bottom.png);
      }
    }

    h2 {
      color:#dbdbdb;
      padding:20px 0 20px 0;
    }

    div.project {
      display: block;
      width: 180px;
      height: 180px;
      background-color: #fff;
      padding: 10px;
      margin-bottom: 47px;
      a {
        display: block;
        position: relative;
        text-decoration: none;
        img {
          top: 0px;
          left: 0px;
          position: absolute;
          width: 180px;
          height: 180px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
        }
        h3,p {
          margin:0;
          padding: 0;
          color: #000;
        }
        h3 {
          font-family: Cuprum, 'Cuprum Bold';
          font-size: 30px;
          line-height: 90%;
        }
        p {
          font-family: 'Junge';
          font-size: 16px; 
        }
      }
      a:hover {
        img {
          opacity: 0.2;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
          filter: alpha(opacity=20);
        }
      }
    }
  }

  /*footer*/
  footer {
    height: 358px;
    background-color: rgba(0,0,0,.75);
    color:#fff;
    text-shadow: none;

    div.shift {
      padding-left: 100px;
    }

    h3 {
      font-family: Cuprum, 'Cuprum Bold', sans-serif;
      font-weight: 700;
      font-size: 36px;
      color:#dbdbdb;
      text-shadow: 2px 2px 0px #fff;
      filter: dropshadow(color=#fff, offx=2, offy=2);
      text-transform:uppercase;
      letter-spacing: 1px;
      margin-top:26px;
    }

    ul.social {
      margin:0px;

      li {
        list-style-type: none;
      }
    }

    a,a:hover,a:target {
      text-decoration: none;
      color: #fff;
    }

    i.social-icon {
      display: inline-block;
      width: 19px;
      height: 19px;
      margin-top: 1px;
      line-height: 19px;
      vertical-align: text-top;
      background-image: url("../img/social-footer-2.png");
      background-repeat: no-repeat;

      &.so {
        background-position: 0px 0px;
      }

      &.twitter {
        background-position: -19px 0px;
      }

      &.github {
        background-position: -38px 0px;
      }

      &.linkedin {
        background-position: -58px 0px;
      }
    }

    div.relative{
      position:relative;

      div.quality {
        position:absolute;
        top: -2px;
        left: 185px;
        display:block;
        width:37px;
        height:84px;
        background-image: url(../img/quality.png);
      }
    }
  }
}